/* @import "~react-image-gallery/styles/scss/image-gallery.scss"; */
@import "~react-image-gallery/styles/css/image-gallery.css";


.productdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #000;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.prod__title{
    margin-bottom: 20px;
    font-size: 2em;
    

}
.prod{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: pink; */
}
.prod__left{
    /* padding: 20px; */
    position: relative;
    width: 50%;
}
.prod__left .img-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.prod__left .img-box img{
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* border-radius: 10px; */
    object-fit: cover;
}

.prod__right{
    padding: 20px;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod__content{
    width: 80%;
    /* background-color: #9897; */
    padding: 20px;
}
.img_gallery_1 .img_1{
    height: 400px;
    object-fit: contain;
}
.img_gallery_2{
    margin-top: 50px;
}
.img_gallery_2 .img_2{
    margin-top: 50px;
    top: 0;
    left: 0;
    height: 250px;
    width: 80%;
    /* object-fit: contain; */
    
}


@media only screen and (max-width: 1025px) {


}

@media only screen and (max-width: 500px) {
    .prod{
        display: flex;
        flex-direction: column;
    }
    .prod__left{
        width: 100%;
        /* background-color: red; */
    }
    .img_gallery_1 .img_1{
        display: none;
    }
    .img_gallery_2 .img_2{
        width: 100%;
    }

}